{% extends 'base.html.twig' %}

{% block title %}Mon compte - Créations Bois{% endblock %}

{% block content %}

    <h1>Mon compte</h1>
    <p>BIenvenue {{ app.user.firstname }} dans votre compte.</p>

    <hr>
    <p>- Modifier mon mot de passe</p>
    <p>- Ajouter mes adresses</p>
    <p>- Mes commandes</p>

{% endblock %}
