{% extends 'base.html.twig' %}

{% block title %}Page introuvable - Créations Bois{% endblock %}

{% block content %}

<div class="block-small">
    <h2>Page introuvable</h2>
    <p>Nous sommes désolés, cette page n'existe pas.</p>
    <p><a href="{{ path('home') }}" class="btn btn-primary">Revenir à l'accueil</a></p>
</div>
{% endblock %}
